body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 250vh;
}

.left-section, .right-section {
  flex: 1;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.left-section {
  color: rgb(255, 255, 255);
  background-color: #1c1c1c;
}

.right-section {
  background-color: #313131;
}

.Header-Title{
  background-color: rgba(0,0,0);
}

.Codeblock {
  color: rgba(0,0,0);
  background-color: rgb(50, 50, 50);
  width: 550px;
  height: 300px;
  border-radius: 25px;
  padding: 5px;
  margin: 15px;
  transition: 0.5s;
  border: white;
}

.Codeblock:hover {
  border-color: rgb(30, 3, 78);
}

.Content {
  color: rgb(255, 125, 3);
  text-align: center;
  justify-content: center;
}

.Area {
padding: 5px;
}

.Code {
  background-color: rgb(19, 19, 19);
  color: rgb(245, 131, 0);
  resize: none;
  width: 500px;
  height: 200px;
}